@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@tailwind base;
@tailwind components;


.pattern {
  background-color: #292a2e;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23505258' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.loader {
  border: 3px solid transparent;
  border-radius: 50%;
  border-top: 3px solid #ffffff;
  width: 100%;
  height: 100%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.react-datepicker__input-container input {
  @apply block w-full text-base md:text-sm bg-white border border-gray-300 rounded-lg shadow-sm form-input;
}

.react-datepicker-popper {
  @apply z-40 w-full text-sm bg-white  rounded-lg px-3 py-2 border;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray-200 rounded;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray-400 font-medium text-center text-xs;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-sm leading-loose transition text-gray-700 rounded;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300;
}

.react-datepicker__day--in-range {
  @apply bg-brandTealDark/30;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-brandTealDark/30;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-brandTealDark;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-brandTealDark;
}

.react-datepicker__day--selected {
  @apply bg-brandTealDark text-white;
}

.react-datepicker__day:hover {
  @apply bg-brandTealDark/90 cursor-pointer text-white;
}

.react-datepicker__day--range-start {
  @apply bg-brandTealDark text-white hover:text-gray-700 hover:bg-white;
}

.react-datepicker__day--range-end {
  @apply bg-brandTealDark text-white hover:text-gray-700 hover:bg-white;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pullLeft{
  float: left;
}

.pullRight{
  float: right;
}

.textWrap {
  word-break: break-word; 
}

.fullHeight{
  height:auto;
  min-height: 80vh;
  overflow: visible;
}
.backgroundCover{
  background-size: cover;
}

.backgroundTopRight{
  background-position: center;
}

.backgroundOverlay{

}

/* #section05 a {
  padding-top: 70px;
}
#section05 a span {
  position: absolute;
  bottom: 80px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
  z-index:99;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */
a{
  cursor: pointer;
}
.smallText{
  font-size: 12px;
  font-weight: 100%;
}

.headingType2{
  font-family: 'Source Sans Pro', sans-serif !important;
}
.heading-2{
  display: block;
  position: relative;
  padding-bottom: 10px;
}
.viewAll{
  display: block;
  position: relative;
  width:130px;
  height: 70px;
  line-height: 100px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 20px;
  font-weight: 800;
  color: #669447;
  float: right;
  cursor: pointer;
}
@media screen and (max-width:768px){
  .viewAll{
    position: absolute;
    bottom: -50px;
  }
}
/* .viewAll::after{
  content: '>';
} */
.viewMore{
  width:150px;
  height: 60px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  background-color: #FFBD2A;
  transform: translateX(-50%);
  border-radius: 50px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight:600;
  text-align: center;
  line-height: 60px;
  color: #000;
  cursor: pointer;
}
.viewMore2{
  width:150px;
  height: 60px;
  position: relative;
  bottom: 15px;
  left: 50%;
  background-color: #FFBD2A;
  transform: translateX(-50%);
  border-radius: 50px;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 16px;
  font-weight:600;
  text-align: center;
  line-height: 60px;
  color: #000;
  cursor: pointer;
}
.heading-2 h2{
  font-family: 'Source Sans Pro', sans-serif !important;
  /* font-size: 2.75rem !important; */
  font-weight: 600;
  display: block;
  width: calc(100% - 150px) !important;
  text-align: left;
  float: left;
}
@media screen and (max-width:768px) {
  .heading-2 h2{
    font-family: 'Source Sans Pro', sans-serif !important;
    /* font-size: 2.75rem !important; */
    font-weight: 600;
    display: block;
    width: 100% !important;
  }
}
.heading-2::before{
  content: ' ';
  width:100px;
  height: 6px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  border-radius: 5px;;
  background-color: #1f6e7a;
}

.heading-2::after{
  content: ' ';
  width:100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  background-color: #1f6e7a3b;
  transform: skew(20deg);
}

.card {
  float: left;
  width: 100%;
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: "";
  display: table;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: inline-block;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: "Open Sans";
  transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 540px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .title {
  margin-top: 10px;
  font-size: 26px;
}
.card h3{
  font-weight: 100!important;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type=checkbox] {
  display: none;
}
.card input[type=checkbox]:checked + .menu-content {
  transform: translateY(-60px);
}

.blogCard .wrapper {
  background: center/cover no-repeat;
}
.blogCard .wrapper:hover .menu-content span {
  transform: translate(-50%, -10px);
  opacity: 1;
}
.blogCard .header {
  color: #fff;
  padding: 1em;
}
.blogCard .header::before, .blogCard .header::after {
  content: "";
  display: table;
}
.blogCard .header::after {
  clear: both;
}
.blogCard .header .date {
  float: left;
  font-size: 12px;
}
.blogCard .menu-content {
  float: right;
}
.blogCard .menu-content li {
  margin: 0 5px;
  position: relative;
}
.blogCard .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.blogCard .data {
  color: #fff;
  transform: translateY(calc(70px ));
  background: linear-gradient(0deg, rgba(0,0,0,0.7371323529411764) 0%, rgba(0,0,0,0.6362920168067228) 50%, rgba(0,212,255,0) 100%);
}
.blogCard .title a {
  color: #fff;
}
.blogCard .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.blogCard .button::after {
  content: "→";
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
}
.blogCard .button:hover::after {
  transform: translate(5px, -50%);
  opacity: 1;
}
.homeTextCont{
  top:'50%'; 
  transform: 'translateY(-50%)';
}

@media screen and (max-width:1024px) {
  .homeTextCont{
    top:unset !important;
    transform: none !important;
    bottom: 0;
  }
}
.homeSectionSliced{
  position: relative;
}
.homeSectionSliced::after{
  content: " ";
  width: calc(25% + 200px) ;
  height: calc(100% + 50px) ;
  position: absolute ;
  top:0 ;
  bottom: 0 ;
  background-color: #669447 ;
  transform: skewX(10deg) translateX(-160px) translateY(-25px);
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.5);
  z-index: 2 !important;
}

@media screen and (max-width:1024px) {
  .homeSectionSliced{
    overflow: hidden;
  }
  .homeSectionSliced::after{
    content: ' ';
    width: calc(100% + 100px) ;
    height:50%;
    top: 50%;
    transform: none;
    box-shadow: none;
    background-color: #669447df ;
    transform: rotate(5deg) translateX(-50px) translateY(50px);
  }
  .homeSectionSliced h2{
    font-size: 20px;
  }
}

.homeSectionSliced2{
  position: relative;
}
.homeSectionSliced2::after{
  content: " ";
  width: calc(25%) ;
  height: calc(100% + 50px) ;
  position: absolute ;
  top:0 ;
  bottom: 0 ;
  right: 0;
  background-color: #2a9fc2 ;
  transform: skewX(10deg) translateX(-80px) translateY(-25px);
  box-shadow:-10px 0px 10px -5px rgba(0, 0, 0, 0.5);
  z-index: 10 !important;
}
.homeSectionSliced2::before{
  content: ' ';
  width:25%;
  height: calc(100% + 50px) ;
  position: absolute ;
  top:0 ;
  bottom: 0 ;
  right: 0;
  background-color: #2a9fc2 ;
  transform:  translateY(-25px);
}

@media screen and (max-width:1024px) {
  .homeSectionSliced2{
    overflow: hidden;
  }
  .homeSectionSliced2::after{
    content: ' ';
    width: calc(100% + 100px) ;
    height:50%;
    top: 50%;
    right:unset;
    transform: none;
    box-shadow: none;
    background-color: #2a9fc2df ;
    transform: rotate(5deg) translateX(-50px) translateY(50px);
  }
  .homeSectionSliced2::before{
    display:none;
  }
  .homeSectionSliced h2{
    font-size: 20px;
  }
}

.LVProjectCard{
  display: block;
  position: relative;
  height: auto;
  margin-bottom: 30px;
  overflow: hidden;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}
.ProjectImageCont{
  position: relative;
  width: 100%;
  height: 300px;
}
.ProjectImageCont::before{
  content:' ';
  width:100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1f6e7a;
  border-top-left-radius: -50%;
  z-index: 2;
}
.ProjectImageCont::after{
  content:' ';
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #669447;
  border-bottom-right-radius: 200px;
  z-index: 2;
}
.ProjectImageCont  img {
  width: 100%;
  display: block;
  position: relative;
  border-bottom-right-radius: 250px;
  z-index: 3;
}

.ProjectImageCont > img::after{
  content: '';
  width:100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}
.ProjectTextCont{
  display: block;
  position: relative;
  width: 100%;
  height: 350px;
  background-color: #1f6e7a;
  color: #fff;
  clear: both;
  padding:15px;
}
.ProjectTextCont .progressCont {
  background-color: #fff;
}

.ProjectTextCont p{
  max-height: 70px;
  overflow: hidden;
}


.ContactContainer{
  display: block;
  position: relative;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.ContactContainer::before{
  content: ' ';
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width:calc(50% + 200px);
  background-color: #fff !important;
  z-index: 2 !important;
  transform: skew(-15deg) translateX(150px);
}

.contactForm{
  width:calc(100% -100px);
  height: 100%;
  position: relative;
  z-index: 3;
  padding: 200px 70px;
  /* background-color: #1f6e7a; */
}

.stepCont{
  width:90%;
  margin: auto;
  height: auto;
  position: relative;
  overflow: hidden;
}
.step{
  width:100%;
  height: 0;
  transform: translate(100%);
  overflow: hidden;
}
.active-step{
  position: relative;
  top: 0;
  height: auto;
  transition: all 0.5;
  transform: translate(0);
}
@media screen and (max-width: 768px){
  .ContactContainer{
    height: auto;
    min-height: unset;
    padding-top: calc(100px);
    background-image: none;
  }
  .ContactContainer::before{
    content: ' ';
    position: absolute !important;
    top: 0% !important;
    left: 0 !important;
    bottom: 0 !important;
    width:calc(100% + 200px);
    background-color: #fff !important;
    z-index: 2 !important;
    transform: skew(0deg) translateX(0px) translateY(0px) rotate(0deg);
  }
  
  .contactForm{
    width:calc(100% -100px);
    height: auto;
    position: relative;
    z-index: 3;
    padding: 20px 70px;
    /* background-color: #1f6e7a; */
  }
  .stepCont{
    height: unset;
  }
}

.heroTextCont {
  left:50%;
  transform: translateX(-50%)
}

.featured-project-image{
  display: block;
  float: left;
  max-width: 100%;
  width:70%;
  height: auto;
  /* overflow: hidden; */
  position: relative;
  /* background-image: linear-gradient(19deg, #013946 0%, #f7d38a 100%); */
}

.featured-project-image img{
  position: relative;
  display: block;
  border-radius: 37% 62% 30% 97% / 43% 59% 57% 39%;
}
.featured-project-image::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(19deg, #1F6E7A 0%, #8caa44 100%);
  border-radius: 37% 62% 30% 97% / 43% 59% 57% 39%;
  transform: translateX(-50px) translateY(50px);
}

.featured-project-text{
  width:30%;
  display:block;
  float: left;
  position: relative;
  padding-bottom: 80px;
}

.featured-project-text h2{
  text-align: center;
  color:#1F6E7A;
}
.featured-project-paragraph{
  color:#1F6E7A;
}
@media screen and (max-width: 1024px){
  .featured-project-image{
    width: 100%;
  }
  .featured-project-text{
    width: 100%;
  }
}

.image-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 200px;
}

.image-list img {
  width: 250px;
}

@tailwind utilities;
